@import "chota.css";

:root {
	--bg-color: #FEFEFE;
	--bg-secondary-color: #f3f3f6;
	--color-primary: #144F85;
	--color-lightGrey: #d2d6dd;
	--color-grey: #747681;
	--color-darkGrey: #3f4144;
	--color-error: #d43939;
	--color-success: #28bd14;
	--grid-maxWidth: 120rem;
	--grid-gutter: 2rem;
	--font-size: 1.6rem;
	--font-color: #666;
	--font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

* {
	user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.is-fullwidth {
	width: 100%;
}
